*.obj
*.sc
*.htm*
*.dep
*.pdb
*.ncb
*.manifest
*.suo
*.idb
*/filter_test/*
*/obj/*
*/Debug/*
*sc/*
*.zip
*.opt
*.ilk
*.exp
*.plg
*.user
*.lib
*.pch
*.oca
*Setup.exe
ide_known_files.mdb
_safe_test1.exe