[Desktop Entry]
Version=1.0
Type=Application
Name=Update
Comment=
Exec=/home/kali/Documents/update.sh
Icon=/home/kali/Documents/update-icon.png
Path=
Terminal=true
StartupNotify=false
Name[en_US.utf8]=Update