<?xml version="1.0" encoding="utf-8"?>
<DisplayDriverUninstaller Version="18.0.4.0">
	<Settings>
		<SelectedLanguage>en-US</SelectedLanguage>
		<RemoveMonitors>True</RemoveMonitors>
		<RemoveCrimsonCache>True</RemoveCrimsonCache>
		<RemoveAMDDirs>True</RemoveAMDDirs>
		<RemoveAudioBus>True</RemoveAudioBus>
		<RemoveAMDKMPFD>False</RemoveAMDKMPFD>
		<RemoveNvidiaDirs>True</RemoveNvidiaDirs>
		<RemovePhysX>True</RemovePhysX>
		<Remove3DTVPlay>True</Remove3DTVPlay>
		<RemoveGFE>True</RemoveGFE>
		<RemoveNVCP>True</RemoveNVCP>
		<RemoveINTELCP>True</RemoveINTELCP>
		<RemoveAMDCP>True</RemoveAMDCP>
		<UseRoamingConfig>False</UseRoamingConfig>
		<CheckUpdates>True</CheckUpdates>
		<CreateRestorePoint>True</CreateRestorePoint>
		<SaveLogs>True</SaveLogs>
		<RemoveVulkan>True</RemoveVulkan>
		<ShowOffer>True</ShowOffer>
		<EnableSafeModeDialog>False</EnableSafeModeDialog>
		<PreventWinUpdate>False</PreventWinUpdate>
		<UsedBCD>False</UsedBCD>
	</Settings>
</DisplayDriverUninstaller>